

<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="text-center justify-content-center">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/projects" class="nav-link px-2 text-secondary">Projects</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>
      </div>
    </div>
</header>
{% block content %}
{% endblock %}
