Flask==2.0.1
Flask-RESTful==0.3.9
requests==2.26.0
googletrans==3.0.0
python-telegram-bot==13.10
httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability